/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #fff;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --text-color-out-of-stock: rgb(255, 97, 97);
  --text-color-in-stock: rgb(78, 255, 158);
}

/*--------------fonts--------------*/
@font-face {
  font-family: "VisitDenmark";
  src: url("/fonts/VisitDenmark-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VisitDenmark";
  src: url("/fonts/VisitDenmark-SemiBold.otf");
  font-weight: semiBold;
  font-style: normal;
}

@font-face {
  font-family: "VisitDenmark";
  src: url("/fonts/VisitDenmark-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "VisitDenmark";
  src: url("/fonts/VisitDenmark-Medium.otf");
  font-weight: medium;
  font-style: normal;
}

/* ---------- general styling ---------- */
html {
  font-family: "VisitDenmark", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: medium;
  color: #000c17;
  text-decoration: none;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

.black {
  color: #000c17 !important;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  display: none;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding-bottom: 55px;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- product styling ---------- */



/* ---------- form styling ---------- */
form {
  margin: auto;
}

.btn {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  margin: 1em 0 0;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 100%;
  max-width: 350px;
}

/* ---------- Welcome page start David ---------- */
.logo-welcome-screen {
  padding-top: 20%;
}

.welcome-text {
  font-size: 20px;
  padding-top: 20%;
  font-weight: bold;
  color: #022b52;
}

.input-onboarding {
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  margin-bottom: 15%;
  margin-top: 10%;
  width: 85%;
}

.buttons-on-welcome-page {
  padding-top: 20%;
  background-image: url("/img/background-onboarding.png");
}

.welcome-page-done-button {
  background-color: #022b52;
  color: #ffff;
}

.welcome-page-skip-button {
  background-color: #ffff;
  color: #022b52;
}

/* ---------- Welcome page end David ---------- */

/* ---------- First onboarding start David ---------- */
.heading-on-onboarding1 {
  font-size: 20px;
  font-weight: bold;
  color: #022b52;
  padding-bottom: 10%;
}

.onboarding1-city-images {
  padding-bottom: 10%;
}

.loader {
  padding-bottom: 5%;
}

.back-button {
  width: 30%;
  float: left;
  margin-left: 5%;
  background-color: #fff;
  border: 1px solid #022B52;
  color: #022b52;
}

.next-button {
  width: 30%;
  float: right;
  margin-right: 5%;
  background-color: #022b52;
}

.back-next-button-div-1 {
  flex-direction: row;
  justify-content: space-between;
}

/* ---------- First onboarding end David ---------- */

/* ---------- Second onboarding start David ---------- */
.onboarding2-image {
  padding-top: 10%;
  padding-bottom: 10%;
}

.onboarding2-text {
  color: #022b52;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 10%;
}

/* ---------- Second onboarding end David ---------- */

/* ---------- Third onboarding start David ---------- */
.onboarding3-image {
  padding-top: 10%;
  padding-bottom: 10%;
}

.onboarding3-text {
  color: #022b52;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 10%;
}

/* ---------- Third onboarding end David ---------- */

/* ---------- Fourth onboarding start David ---------- */
.onboarding4-image {
  padding-top: 10%;
  padding-bottom: 10%;
}

.onboarding4-text {
  color: #022b52;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 10%;
}

.get-started-button {
  background-color: #022b52;
  color: #ffff;
}

/* ---------- Fourth onboarding end David ---------- */

/* ---------- home page start David ---------- */

/* ---------- home page end David ---------- */

/* ---------- Places to Eat page start Marius ---------- */


.sticky-header {
  background: white;
  position: fixed;
  left: 0px;
  right: 24px;
  padding-bottom: 16px;
  padding-top: 24px;
  width: 100%;
}

.sticky-header-width {
  width: 327px;
  margin: 0 auto;
}

.shadow {
  box-shadow: -2px 39px 99px 0px rgba(2, 43, 82, 0.14);
  -webkit-box-shadow: -2px 39px 99px 0px rgba(2, 43, 82, 0.14);
  -moz-box-shadow: -2px 39px 99px 0px rgba(2, 43, 82, 0.14);
}

.content-box {
  padding-top: 126px;
}


.container-placestoeat {
  width: 327px;
  margin: 0 auto;
  top: 0;
}

.flexbox-placestoeat-header {
  display: flex;
  flex-direction: row;
}

.back-icon {
  margin-right: 12px;
}

.header-placestoeat {
  font-size: 20px;
  font-family: VisitDenmark Regular;
}

.red {
  color: #e70013;
  font-family: VisitDenmark SemiBold;
}

.explore-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explore-search {
  -webkit-appearance: none;
  width: 100%;
  max-width: 281px;
  padding: 12px 15px;
  box-sizing: border-box;
  display: block;
  background: #f9f9f9;
  border: 0;
  background-image: url("/img/icons/magnifier.svg");
  background-position: 12px center;
  background-repeat: no-repeat;
  text-indent: 18px;
}

::placeholder {
  font-size: 12px;
}

.order-select {
  background: transparent;
  border: none;
  font-size: 12px;
  display: block;
  text-align: left;
  background: url("/img/icons/Icon\ material-arrow-drop-down.svg") no-repeat right transparent;
  -webkit-appearance: none;
  background-position-x: 40px;
  width: 150px;
  outline: 0px;
  padding: 16px 0;
}

#fetched-placesToEat {
  display: grid;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  grid-template-columns: auto auto;
}


.img-places {
  width: 154px;
  height: 107px;
}

.places-box {
  width: 154px;
  height: 154px;
  background: #F9F9F9;
}

.place-description {
  font-size: 8px;
  font-family: VisitDenmark Medium;
  text-align: left;
  line-height: 1px;
  margin-left: 8px;
  color: #022B52;

}

.place-title {
  font-size: 10px;
  font-family: VisitDenmark Medium;
  text-align: left;
  line-height: 0px;
  margin-left: 8px;
}

.filter-slider {
  height: 100%;
  width: 100%;
  left: 100%;
  position: fixed;
  overflow: hidden;
  transition: 0.7s;
  background: white;
  z-index: 999999;
  text-align: left;
}

.filter-content {
  margin: 0 auto;
  margin-top: 24px;
  margin-left: 24px;
}

.filter-title {
  font-size: 20px;
  font-family: VisitDenmark SemiBold;
  line-height: 0px;
}

.filter-horizontal-scrolling {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin-top: 2px;
  display: block;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

}

.filter-horizontal-scrolling::-webkit-scrollbar {
  display: none;
}



.filter-horizontal-scrolling .filter-by-type {
  display: inline-block;
  width: 94px;
  height: 94px;
  background: #F9F9F9;
  margin-right: 16px;
  position: relative;
}

.filter-label {
  font-family: VisitDenmark Medium;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  color: white;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 100%;
}

.button-filter {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.subCategory-image {
  background-color: #F9F9F9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  opacity: 0.4;
}

.active-type {
  background: rgb(2, 43, 82, 0.55) !important;
}

.active-type-all {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #335372;
  background: #F9F9F9 !important;
}

.filter-by-something {
  display: grid;
  grid-column-gap: 13px;
  grid-row-gap: 16px;
  grid-template-columns: auto auto;
  margin-right: 24px;
}

.filter-by-something-box {
  background-color: #F9F9F9;
  font-family: VisitDenmark Regular;
  font-size: 12px;
  text-align: center;
  /* padding: 8.5px 0; */
  width: 157px;
  height: 32px;
  border: none;
}

.filter-title-2 {
  font-size: 20px;
  font-family: VisitDenmark SemiBold;
  line-height: 0px;
  margin-top: 32px;
}

.active-filter {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #335372;
  background: #F9F9F9 !important;
}

.filter-cta-buttons {
  margin-top: 290px;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reset-button {
  background-color: #F9F9F9;
  font-family: VisitDenmark Medium;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
  width: 157px;
  border: none;
}

.apply-button {
  background-color: #022B52;
  font-family: VisitDenmark Medium;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
  width: 157px;
  border: none;
  color: white !important;
}



/* ---------- Main page Iurie ---------- */

.arhus_txt{
  color:#E70013 ;
}
.page{
  
  margin-left: 1.5rem;
  text-align: start;
}

#products-container  {
  text-align: center;
  display: flex;
  gap: 10px;
  margin-top: 20px ;
 font-size: 3vw;
overflow-x: auto;
  }

   
  .item1{
  min-width: 100px;
  background-color:#FFE882 ;
  max-height: 100px;
  padding-top: 20px;
  
   
  }
  .item2{
    min-width: 100px;
    background-color:#C3EBFF ;
  height: 100px;
  padding-top: 20px;
    }
    .item3{
     min-width: 100px;
      background-color:#A3EABF ;
  height: 100px;
  padding-top: 20px;
      }
      .item4{
        min-width: 100px;
        background-color:#FAC5CC ;
  height: 100px;
  padding-top: 20px;
        }

      .h1_style{
        color: #022B52;
      }



.popular_container{
  display: flex;
 min-width: 200px;
 min-height: 50px;



}
#popular_cards{
  display: flex;
  overflow-x: auto;


}

.img-pop{
  max-width: 60%;
  max-height: 60%;
}
.pop-title{
  font-size: 2vw;
}
.pop-description{
  font-size: 2vw;
  align-self: flex-end;
}
.pop_txt_style{
  margin-left: 10px;

}

.placeslike-container{
  display: flex;
  
}
/* ---------- Places to Eat page start Marius ---------- */

/* ---------- Places to Eat page start Marius ---------- */

/* ---------- Bookmarks start David ---------- */
#bookmarks .topbar{
  background-color: #fff;
margin-bottom: 50%;
}

.favorites-heading{
  color: #022b52;
  float: left;
  font-size: 32px;
}
.link-to-edit-page{
float: right;
padding-top: 11%;
background-color: #fff;
border: none;
}



.favorites-edit-div{
  padding-top: 10%;
  padding-bottom: 30%;
  width: 85%;
  margin: 0 auto;
}



/* hide and show try David */
.container {
    width: 85%;
    margin: 0 auto;
}
.question {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 0;
}

.accordion {
    display: flex;
    border: none;
    text-align: left;
    transition: 0.4s;
    font-size: 20px;
    background-color: #fff;
}

.panel {
    display: none;
    overflow: hidden;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.accordion:after {
    content: url(../img/accordion-arrow.png);
    float: right;
    transition-duration: 0.9s;
    padding-left: 15px;

}

.active:after {
    transform: rotate(180deg) scaleX(-1);
    transition-duration: 0.9s;
}
.panel{
  padding-top: 10%;
  margin-right: 50%;
}

.upcoming-events-div{
  padding-top: 10%;
  padding-bottom: 30%;
  width: 85%;
  margin: 0 auto;
}

.upcoming-events-heading{
  color: #022b52;
  float: left;
  font-size: 32px;
}

.date-div{
  border-right: 1px solid black;
  background-color: #FAFAFA;
  color: #022B52;
  width: 20%;
  margin-left: 7%;
}

.event-div{
  color: #000C17;
  background-color: #FAFAFA;
  width: 80%;
  text-align: left;
  padding-left: 5%;
  margin-top: 3%;
}

.event-name{
  font-size: 12px;
}

.event-location{
  font-size: 8px;
}


.date-event-div{
  flex-direction: row;
  display: flex;
}

/* ---------- Bookmarks end david ---------- */
