/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #fff;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --text-color-out-of-stock: rgb(255, 97, 97);
  --text-color-in-stock: rgb(78, 255, 158);
}

/*--------------fonts--------------*/
@font-face {
  font-family: "VisitDenmark";
  src: url("/fonts/VisitDenmark-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VisitDenmark";
  src: url("/fonts/VisitDenmark-SemiBold.otf");
  font-weight: semiBold;
  font-style: normal;
}
@font-face {
  font-family: "VisitDenmark";
  src: url("/fonts/VisitDenmark-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "VisitDenmark";
  src: url("/fonts/VisitDenmark-Medium.otf");
  font-weight: medium;
  font-style: normal;
}

/* ---------- general styling ---------- */
html {
  font-family: "VisitDenmark", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: medium;
  color: #000c17;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- product styling ---------- */
#products-container img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

#products-container article {
  padding: 0.5em 0 2em;
}

.outOfStock p.status {
  color: var(--text-color-out-of-stock);
}

.inStock p.status {
  color: var(--text-color-in-stock);
}

/* ---------- form styling ---------- */
form {
  margin: auto;
}

button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  margin: 1em 0 0;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 100%;
  max-width: 350px;
}

input {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
}

/* ---------- Welcome page start David ---------- */
.logo-welcome-screen {
  padding-top: 20%;
}

.welcome-text {
  font-size: 20px;
  padding-top: 20%;
  font-weight: bold;
  color: #022b52;
}

.input-onboarding {
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  margin-bottom: 15%;
  margin-top: 10%;
  width: 85%;
}

.buttons-on-welcome-page {
  padding-top: 20%;
  background-image: url("/img/background-onboarding.png");
}

.welcome-page-done-button {
  background-color: #022b52;
  color: #ffff;
}

.welcome-page-skip-button {
  background-color: #ffff;
  color: #022b52;
}
/* ---------- Welcome page end David ---------- */

/* ---------- First onboarding start David ---------- */
.heading-on-onboarding1 {
  font-size: 20px;
  font-weight: bold;
  color: #022b52;
  padding-bottom: 10%;
}
.onboarding1-city-images {
  padding-bottom: 10%;
}
.loader {
  padding-bottom: 5%;
}
.back-button {
  width: 30%;
  float: left;
  margin-left: 5%;
  background-color: #022b52;
}

.next-button {
  width: 30%;
  float: right;
  margin-right: 5%;
  background-color: #022b52;
}

.back-next-button-div-1 {
  flex-direction: row;
  justify-content: space-between;
}
/* ---------- First onboarding end David ---------- */

/* ---------- Second onboarding start David ---------- */
.onboarding2-image {
  padding-top: 10%;
  padding-bottom: 10%;
}

.onboarding2-text {
  color: #022b52;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 10%;
}

/* ---------- Second onboarding end David ---------- */

/* ---------- Third onboarding start David ---------- */
.onboarding3-image {
  padding-top: 10%;
  padding-bottom: 10%;
}

.onboarding3-text {
  color: #022b52;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 10%;
}
/* ---------- Third onboarding end David ---------- */

/* ---------- Fourth onboarding start David ---------- */
.onboarding4-image {
  padding-top: 10%;
  padding-bottom: 10%;
}

.onboarding4-text {
  color: #022b52;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 10%;
}

.get-started-button {
  background-color: #022b52;
  color: #ffff;
}
/* ---------- Fourth onboarding end David ---------- */

/* ---------- home page start David ---------- */

/* ---------- home page end David ---------- */

/* ---------- Places to Eat page start Marius ---------- */

.container-placestoeat {
  width: 327px;
  margin: 0 auto;
}

.flexbox-placestoeat-header {
  display: flex;
  flex-direction: row;
}

.back-icon {
  margin-right: 12px;
}

.header-placestoeat {
  font-size: 20px;
  font-weight: normal;
}

.red {
  color: #e70013;
  font-weight: bold;
}

/* ---------- Places to Eat page start Marius ---------- */
